<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.kotlinsample">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.KotlinSample">
        <activity
            android:name=".view.PickerActivity"
            android:exported="false" />
        <activity
            android:name=".view.SpinnerActivity"
            android:exported="false" />
        <activity
            android:name=".view.SwitchActivity"
            android:exported="false" />
        <activity
            android:name=".view.RadioActivity"
            android:exported="false" />
        <activity
            android:name=".view.CheckBoxActivity"
            android:exported="false" />
        <activity
            android:name=".view.ButtonActivity"
            android:exported="false" />
        <activity
            android:name=".view.ViewActivity"
            android:exported="false" />
        <activity
            android:name=".layout.ConstraintLayoutActivity"
            android:exported="false" />
        <activity
            android:name=".layout.LayoutActivity"
            android:exported="false" />
        <activity
            android:name=".layout.RelativeLayoutActivity"
            android:exported="false" />
        <activity
            android:name=".layout.LinearLayoutVerticalWeightActivity"
            android:exported="false" />
        <activity
            android:name=".layout.LinearLayoutHorizontalActivity"
            android:exported="false" />
        <activity
            android:name=".layout.LinearLayoutVerticalActivity"
            android:exported="false" />
        <activity
            android:name=".layout.LinearLayoutActivity"
            android:exported="false" />
        <activity
            android:name=".camera.CameraActivity"
            android:exported="false" />
        <activity
            android:name=".permission.PermissionActivity"
            android:exported="false" />
        <activity
            android:name=".dialog.DialogActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.kotlinsample.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>